<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Event, <%= @event.title %></h1>
    <p>
      Dublin Event Publisher has published a new event you may be interested in. <br/>
      This event is taking palace at <%= @event.short_location %> on <%= @event.show_date %>
      
    </p>
    <p>
      For more details on this event, just follow this link: <%= @event.event_url %>. <br/>
      or contact the organizer <%= @event.organizer.email %>.<br/>
    </p>

  </body>
</html>