<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Event, <%= @event.title %></h1>
    <p>
      Dublin Event Publisher has published a new event you may be interested in. <br/>
      This event is taking palace at <%= @event.short_location %> on <%= @event.show_date %>.
      
    </p>
    <p>
      For more details on this event, just follow link to <%= link_to "event home page", @event.event_url %>. <br/>
      or contact the event organizer <%= @event.organizer.email %>.<br/>
    </p>
    <p>
      This message was sent by the <a href="http://event-publisher.heroku.com">Dublin Event Publisher</a> website.
      Register your upcoming events with us for free publicity.
    </p>
    <p>Follow us on <a href="www.twitter.com/eventsindublin">twitter</a>
    </p>
  </body>
</html>