<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Event, <%= @event.title %></h1>
    <p>
      Dublin Event Publisher has published a new event you may be interested in. <br/>
      This event is taking palace at <%= @event.short_location %> on <%= @event.show_date %>.      
    </p>
    <p>
      For more details on this event, just follow link to <%= @event.event_url %>. <br/>
      <% @eventdetails %><br/>
      or contact the event organizer <%= @event.organizer.email %>.
    </p>
    <p>
      Register your upcoming events with us, for free publicity.
      Find us at http://event-publisher.heroku.com
    </p>
    <p>Follow us on twitter at http://www.twitter.com/eventsindublin
    </p>
  </body>
</html>