
<div class="fleft selectionbox">
  <h2>Events </h2>
  <%= form_for @store, :as => :store, :url => view_events_path, :html => {:method => :post} do |f| %>
  <div class="field">
      <label>Select Category </label><br/>
      <%=  select( :store, :category, @categories) %>
  </div>
  <div class="field ">
      <label>In The Next </label><br/>
      <%=  select(:store,:date,@dateselect) %>
  </div>
  <div class="actions">
   <input id="event_submit" name="commit" type="submit" value="Show Events" />

  </div>
  <% end %>
</div>
<% if !@events.nil? %>
  <div class="fleft smallleft bigtop">
   <table>
   <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th>Location</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td style="width: 350px;"><%= event.short_desc %></td>
    <td><%= event.show_date %></td>
    <td><%= event.short_location %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
</table>
  </div>
<% end %>
<div class="clear"></div>